.container{
    display:flex;
    flex-direction:row;
    margin-left:2%;
    justify-content: space-evenly;
    margin-right:32%;
}
.box{
    width:60em;
}
img{
    width:250px;
    height:250px;
}
p{
    text-align:center;
}
.owner-info{
    width:50%;
    margin-left:25%;
}
.owner-pic{
    margin-left:43%;
}