body{
    max-width:1440px;
    margin:5% auto 0% auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    background-color:rgb(68,68,68);
}
h1{
    font-family:arial;
    font-size:40px;
    font-weight:bold;
}
h3{
    font-size:17px;
    font-weight:bold;
}
.banner{
    text-align:center;
    width:auto;
    height:200px;
    background-color:rgb(3, 163, 223);
    color:white;
    padding-top:5%;
    padding-right:12%;
    margin:0% 0% 0 0%;
    font-size:44px;
    font-variant:small-caps;
    text-shadow:2px 2px 2px black;
    background-image:url(../images/archeryAcademy-logo-white.png);
    background-repeat:no-repeat;
    background-position:center;
    border: solid black;
    
}
.nav-bar{
    background-color:rgb(236,183,34);
    text-decoration:none;
    color:black;
    font-family:sans-serif;
    text-align:center;
    border: solid  black;
}
a{
    color:black;
    text-decoration:none;
    font-weight: bold;
}

.contact-info{
    float:left;
    position:static;
    font-size:14px;
    color:white;
    padding-left:2%;
    font-family:arial;
}

.container{
    float:right;
    margin-top:5%;
    width:600px;
    height:900px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
}
.box{
    width:250px;
    height:250px;
    border:solid rgb(236,183,34) 1px;
    transition-property:.5s;
    text-align:center;
    background-color:white;
    

}
main{
    margin-top:2%;
}
footer{
    width:1440px;
    height:150px;
    margin-top:80%;
    padding-top:10%;
    padding-bottom:2%;
    background-image:url(../images/footerImage.jpg);
    background-size:cover;
    color:white;
    text-align:center;
    border:solid rgb(236,183,34) .5px;


}
.footer-links{
    color:white;
}
a{
    transition:transform .4s ease-in-out;
}
a:hover{
    transform:scale(1.5);
    font-size:15px;
}
.target-pic{
    width:200px;
    height:180px;
}