body{
    max-width:1440px;
    margin:0 auto 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    background-color:rgb(68,68,68);
    border:solid black 2px;

}
/*.banner{
    background-image:url(../images/archeryAcademy-logo-white.png);
    background-position:5%;
    background-color:rgb(3, 163, 223);
    background-repeat:no-repeat;
    width:auto;
    height:15em;
    border:groove 1px rgb(236,183,34);
    padding-top:7%;

}*/
.contact-info{
    color:white;
    padding-right:5%;
    text-shadow:2px 2px 2px black;
    float:right;
    font-weight:bold;
}
.nav-bar{
    background-color:rgb(27, 68, 127);
    width:1440px;
    height:10em;
    padding-top:1%;
    text-align:end;
    border:solid 1px rgb(236,183,34);
    color:white;
    position:fixed;
    top:0px;
    background-image:url(../images/archeryAcademy-logo-white.png);
    background-repeat:no-repeat;
    background-color:rgb(3, 163, 223);
    background-position:5%;
}
/* Main */
main{
    padding-top:15%;
}

.box-main{
    width:700px;
    position:static;
    margin-bottom:5%;
    border:groove 1px rgb(236,183,34);
    background-color:lightgrey;
    font-weight:bold;

}
.main-title{
    text-align:center;
    font-style:italic;
}
.container{
    width:650px;
    float:right;
    margin-top:2%;
    display:grid;
    grid-gap:15px 25px;
    justify-content:space-evenly;
    grid-template-columns:max-content;
    position:static;
}
.container div{
    border:red solid 1px;

}
/* Grid links */
.box-main{
    padding:0% 2% 0% 2%;
    float:left;

}
.box-1{
    grid-column:1/2;
    grid-row:1/2;
}
.box-2{
    grid-column:2/2;
    grid-row:1/2;
} 
.box-3{
    grid-column:1/2;
    grid-row:2/2;
}
.box-4{
    grid-column:2/2;
    grid-row:2/2;
}
.box-5{
    grid-column:1;
    grid-row:3/3;
}.box-6{
    grid-column:2;
    grid-row:3/3;
}


/* Box Sizes */
.boxes{
    width:15em;
    height:15em;
    background-color:white;
    border:solid 1px;
    text-align:center;
    border:solid black 1px;

}
/* target-picture for flex boxes */
.target-pic,
.nav-page{
    width:15em;
    height:14em;
}
.main-header{
    display:flex;
    flex-direction:row;
    margin-bottom:5%;
}

/* Footer image */
footer{
    background-image:url(../images/footerImage.jpg);
    background-size:cover;
    bottom:0px;
    width:1440px;
    text-align:center;
    height:200px;
    margin-top:2%;
    padding-top:5%;
    clear:both;
    border:solid black 1px;
}
/* Pseudo */
a{
    text-decoration:none;
    font-weight:bold;
}
a:visited{
    color:white;
}
a:hover{
    font-size:14px;
}
.nav-text:hover{
    text-decoration:underline white;
    
}