.lesson-types{
    display:flex;
    flex-direction:column;
    padding-bottom:5%;
    padding-left:2%;
    margin-bottom:5%;
    width:45%;
    float:left;
    padding-right:1%;
    background-color:rgb(3, 163, 223);
    justify-content:space-evenly;
    grid-gap:5em;
    border:solid;
    margin-left:2%;
}

.private-lessons{
    display:flex;
    flex-direction:column;
    float:right;
    width:45%;
    border:solid;
    padding-left:1%;
    background-color:rgb(3, 163, 223);
    padding-bottom:5%;
    margin-right:2%;
}
video{
    display:block;
    margin:0 auto;
}

